/* I use the Overpass font regardless of light or dark mode */
body {
	font-family: "Overpass", "Trebuchet MS", Helvetica, sans-serif;
}

/* Four variations of the Overpass font */
@font-face {
	font-family: "Overpass";
	src: url('font/Overpass-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Overpass";
	src: url('font/Overpass-Bold.woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Overpass";
	src: url('font/Overpass-Italic.woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Overpass";
	src: url('font/Overpass-BoldItalic.woff2');
	font-weight: bold;
	font-style: italic;
}

/* Light and dark mode, which I autodetect */
@media (prefers-color-scheme: light) {
	body {
		background-color: #99ffdc; /* Aquamarine */
		color: #005555; /* Teal */
	}
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #005555; /* Teal */
		color: #005555; /* Aquamarine */
	}
}
