/* CSS for the sandbox HTML file */

/* Settings that depend on whether the user is in portrait or landscape mode */

@media all and (orientation:portrait) {
  .nav-text-notname {
    display: none;
  }

  #navbar-name {
    margin-inline-start: 5vmin;
  }

  #navbar-links {
    margin-inline-end: 5vmin;
  }

  /* Attributes of the button that displays the theme selection menu */
  #navbar-theme-button { /* This used to be called "dropdown-button" */
    border: 2px solid white;
    border-radius: 5px;
    height: 6vh;
    width: 6vh; /* If the user is in portrait mode, the theme buttons should be square */
    background: linear-gradient(-45deg, #ff7f50 0% 35%, #7cfc00 35% 65%, #00bbff 65% 100%);
  }

  /* Attributes of the buttons in the dropdown menu (like the dropdown display button, but smaller) */
  .button-in-menu {
    border: 1px solid white;
    border-radius: 2.5px;
    height: 4vh;
    width: 4vh; /* If the user is in portrait mode, the theme buttons should be square */
  }
}
@media all and (orientation:landscape) {
  .nav-text-notname {
    display: block;
  }

  #navbar-name {
    margin-inline-start: 10vmin;
  }

  #navbar-links {
    margin-inline-end: 10vmin;
  }

  /* Attributes of the button that displays the theme selection menu */
  #navbar-theme-button { /* This used to be called "dropdown-button" */
    border: 2px solid white;
    border-radius: 5px;
    height: 6vh;
    width: 13.5vh;
    background: linear-gradient(-45deg, #ff7f50 0% 35%, #7cfc00 35% 65%, #00bbff 65% 100%);
  }

  /* Attributes of the buttons in the dropdown menu (like the dropdown display button, but smaller) */
  .button-in-menu {
    border: 1px solid white;
    border-radius: 2.5px;
    height: 4vh;
    width: 9vh;
  }
}

/* Settings that are the same regardless of how the page is viewed */

.navbar {
  /* This should have a higher z-index than the main box */
  position: fixed;
  z-index: 5;

  width: 100%;
  height: 10vh;
  background: #123456;
  color: #abcdef;
}

.navbar-elts-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nav-item { /* .navbar-elts-list a */
  color: white;
  text-decoration: none;
  padding: 0.5vh 4vmin; /* First number is top and bottom padding, second number is left and right padding */
}

.nav-item:hover { /* .navbar-elts-list a:hover */
  background-color: #ddd;
  color: black;
}

/*
.navbar-elts-list div {
  margin-inline-start: 4vh;
}
*/

.nav-text-name {
  font-size: 2em;
}

.nav-text-notname {
  font-size: 1.5em;
}

.leftside {
  float: left;
}

.rightside {
  float: right;
}

/* Theme selector */
#theme-checkbox {
  display: none;
}
#navbar-theme-button #theme-menu {
    visibility: hidden;
    position: fixed;
    top: 10vh;
    left: 105vw;
    min-width: 300px;
    height: 90vh;
    transition: 0.3s;
    background: #ff0000;
}
#theme-checkbox:checked + #navbar-theme-button #theme-menu {
    visibility: visible;
    left: 80vw;
}
.overlay-theme-menu {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}
#theme-checkbox:checked ~ .overlay-theme-menu {
   visibility: visible;
  opacity: 0.4;
}

.theme-menu-row {
  padding: 0.5vmin 0.5vmin;
}

/* Old code for the element that contains the dropdown button and menu
.dropdown {
  position: relative;
  display: inline-block;
  margin-inline-start: 4vh;
  padding-bottom: 1.5vh;
  transform: translateY(0.75vh);
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
*/

/* Old code for the dropdown menu for theme selection
.dropdown-content {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: 8.35vh;
  left: -10vh;
  z-index: 99;
  background: #ff0000;

  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;

  transition: opacity 0.3s ease-out, visibility 0.3s;
  transition-delay: 0.1s;

  min-width: 13.5vh;
}

.dropdown-content a {
  margin: 0;
  padding: 0;
  color: inherit;
  background: inherit;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: inherit;
  background: inherit;
}
*/

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Overpass", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
}

/* Attributes of specific buttons in the dropdown menu (representing specific themes) */
#theme-light-sol {
  background: linear-gradient(-45deg, #18989f 0% 35%, #99ffdc 35% 65%, #e5fff6 65% 100%);
}
#theme-dark-sol {
  background: linear-gradient(-45deg, #004454 0% 35%, #00687f 35% 65%, #18989f 65% 100%);
}
#theme-light-grey {
  background: linear-gradient(-45deg, #404040 0% 35%, #99ffdc 35% 65%, #d5d5d5 65% 100%);
}
#theme-dark-grey {
  background: linear-gradient(-45deg, #101010 0% 35%, #00687f 35% 65%, #65dfc4 65% 100%);
}

/* Attributes of the text buttons in each dropdown menu position */
.textbutton {
  border: none;
  background-color: inherit;
  font-family: "Overpass", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
}

main {
  margin: 10vmin;
  padding: 0;
  min-height: 70vh;
  background-color: lightgray;
  border-radius: 2vmin;

  position: relative;
  z-index: 1; /* Below the dropdown menu */
}

.scrollable-area {
  position: fixed;
  top: 10vh; /* Same height as the navbar */
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Below the dropdown menu */
  /* The scrollbar should be enabled in the area below the navbar */
  overflow-y: scroll;
}

#main-wrapper {
  padding: 20px;
}

/* For all paragraphs inside the main text besides the last one,
I remove the default top margin (because it interacts with the padding of the outside wrapper in an undesirable way),
but I keep the bottom margin (to maintain spacing between paragraphs). */
.main-text {
  margin-top: 0;
}
/* For the last paragraph in the main text, I also remove the bottom margin */
.last-para {
  margin-bottom: 0;
}

body {
  background-color: blue;
  margin: 0;
  padding: 0;
  font-family: "Overpass", "Trebuchet MS", Helvetica, sans-serif;
}

/* Four variations of the Overpass font */
@font-face {
  font-family: "Overpass";
  src: url('font/Overpass-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Overpass";
  src: url('font/Overpass-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Overpass";
  src: url('font/Overpass-Italic.woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Overpass";
  src: url('font/Overpass-BoldItalic.woff2');
  font-weight: bold;
  font-style: italic;
}
