/* CSS for the sandbox HTML file */
.navbar {
  width: 100%;
  height: 20vh;
  background: #123456;
  color: #abcdef;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-item a:hover {
  background-color: #ddd;
  color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
  margin: 20vh;
  padding: 0px;
  width: 100%;
  height: 40vh;
  background-color: lightgray;
}

body {
  background-color: blue;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  padding: 10vh;
}
