/* CSS for the sandbox HTML file */
.navbar {
  width: 100%;
  height: 10vh;
  background: #123456;
  color: #abcdef;
}

.navbar-elts-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-item a:hover {
  background-color: #ddd;
  color: black;
}

.leftside {
  float: left;
  padding-left: 5vh;
}

.rightside {
  float: right;
  padding-right: 5vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
  margin: 10vh;
  padding: 0px;
  height: 70vh;
  background-color: lightgray;
}

body {
  background-color: blue;
  margin: 0px;
  padding: 0px;
}
